@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

p, h1, h2, h3, h4, h5, h6, tr, th {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    padding: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 241, 241);
}
header p {
    
    font-size: 300%;
    color: rgb(56, 56, 56);
}

.new-entry {
    display: flex;
    margin-top: 1%;
    
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 214, 214);
}

.button-ne {
    color: white;
    background-color: rgb(63, 88, 168);;
}

.wrapper{
    display: flex;
}

.form {
    padding-right: 60%;
    background-color: rgb(241, 241, 241);
}

.park{
    padding-top: 4%;
    background-color: rgb(241, 241, 241);
}

.leave{
    padding-top: 4%;
    background-color: rgb(241, 241, 241);
}

.history{
    margin-left: 1%;
    padding-left: 1%;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 241, 241);
}